<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page-add</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}">
</head>
<body>
	<div class="container-fluid">
		<div class = "row">
			<div class="col-md-3 bg-light vh-100 d-flex flex-column">
				<div th:replace="layout :: sidebar"></div>
			</div>		
			<div class="col-md-9 d-flex flex-column">
				<div th:replace="layout :: header" class="bg-dark text-white p-3"></div>
				
				<div class="content p-4">
					<h2>Add New Page</h2>
					<form th:action = "@{/page/save}" method = "post">
						<div>
							<label>Page Name</label>
							<input type = "text" id="pageName" name="pageName" required>
						</div>
						<div>
							<label>Keyword</label>
							<input type = "text" id="keyword" name="keyword" required>
						</div>
						<div>
							<label>Content</label>
							<input type = "text" id="content" name="content" required>
						</div>
						<div>
							<label>Parent Page Id</label>
							<input type = "number" id="parentPageId" name="parentPageId" required>
						</div>		
						<button type="submit">Save Page</button>
						<a href="/page/all">Cancel</a>										
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-auto" th:replace="layout :: footer"></div>
	<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>