<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Electronics Store</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="container-fluid">
        <!-- Header -->
        <div th:fragment="header" class="header">
            <h1>ANH BACKGROUND</h1>
        </div>
        
        <!-- Menu -->
		<nav th:fragment="menu" class="menu">
		    <ul>
		        <li><a th:href="@{/}">Home</a></li>
		        <li><a th:href="@{/about}">About</a></li>
		        <li><a th:href="@{/list}">List Students</a></li>
		        <li><a th:href="@{/addNew}">Add Student</a></li>  
		    </ul>
		</nav>
       
		<div class="row mt-4">
		    <!-- Main Content (5/8 màn hình - col-md-5) -->
		    <div class="col-md-5">
		        <h2>Welcome to NTU</h2>
		    </div>		
		
		    <!-- Sidebar (3/8 màn hình - col-md-4) -->
		    <div th:fragment="sidebar" class="col-md-4 sidebar">
		        <img src="link_anh_cua_ban.jpg" alt="Sidebar Image">
		    </div>
		</div>
   
        <!-- Footer -->
        <div th:fragment="footer" class="footer mt-4">
            <p>@NGUYENTHONGTHIEN-K64</p>
        </div>
    </div>
</body>
</html>