<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Electronics Store</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="container-fluid">
        <!-- Header -->
        <div th:fragment="header" class="header">
            <h1>ANH BACKGROUND</h1>
        </div>
        
        <!-- Menu -->
		<nav th:fragment="menu" class="menu">
		    <ul>
		        <li><a th:href="@{/}">Home</a></li>
		        <li><a th:href="@{/about}">About</a></li>
		        <li><a th:href="@{/list}">List Students</a></li>
		        <li><a th:href="@{/add-new}">Add Student</a></li>  
		    </ul>
		</nav>
		
	    <!-- Sidebar (3/8 màn hình - col-md-4) -->
	    <div th:fragment="sidebar" class="col-md-4 sidebar">
	        <img th:src="@{/image/0311(3).jpg}" alt="Sidebar Image">
	    </div>
   
        <!-- Footer -->
        <div th:fragment="footer" class="footer mt-4">
            <p>@NGUYENTHONGTHIEN-K64</p>
        </div>
    </div>
</body>
</html>