<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frontend Views</title>
   	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <!-- Fragment for Sidebar -->
    <div th:fragment="sidebar">
        <div class="sidebar-logo">
            <img src="https://khoacntt.ntu.edu.vn/Portals/54/Logo-Khoa-CNTT-NTU.png?ver=w1WaDt4_a6t2zoyh_JwxVA%3D%3D" alt="Logo" class="img-fluid mb-3" />
        </div>
        <ul class="nav flex-column w-100">
            <li class="nav-item"><a class="nav-link" th:href="@{/}">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/topic/all}">Topic-List</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/topic/new}">Topic- New</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/student/all}">Student- List</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/student/new}">Student- AddNew</a></li>
        </ul>
    </div>

    <!-- Fragment for Header -->
    <div th:fragment="header">
        <div class="header d-flex justify-content-between align-items-center p-3">
            <h3>>[NGUYENTHONGTHIEN]</h3>
        </div>
    </div>

    <!-- Fragment for Footer -->
    <div th:fragment="footer">
        <div class="footer text-center mt-auto py-3">
            <p>&copy; 2025 by Nguyễn Thông Thiên - FIT.NTU</p>
        </div>
    </div>
</body>
</html>
