<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Student</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="frontEndViews/FrontEndModule:: sidebar"></div>

    <div class="col-md-9 d-flex flex-column">
        <div th:replace="frontEndViews/FrontEndModule:: header"></div>

        <div class="content p-3">
            <h2>View Student</h2>
            <p><strong>ID:</strong> <span th:text="${student.id}"></span></p>
            <p><strong>Name:</strong> <span th:text="${student.name}"></span></p>
            <p><strong>Group ID:</strong> <span th:text="${student.groupId}"></span></p>
        </div>

        <div th:replace="frontEndViews/FrontEndModule:: footer"></div>
    </div>
</body>
</html>
